.groove-border {
    border: 3px solid #e6e5e1 !important; /* Adjust thickness and color as needed */
    border-radius: 10px !important; /* Adjust border radius as needed */
  }

  .icon {
    font-size: 4rem;
  }

  .button-border {
    border: 1px solid #0f0f0f !important; /* Adjust thickness and color as needed */
    border-radius: 10px !important; /* Adjust border radius as needed */
  }



 .text-large {
  font-size: 3.5rem;
 }
 
 
 

 .green-text {
  color: green;
 }

 .custom-img {
  width: 500px;
  max-width: 400px; /* Set maximum width */
  margin-top: 40px; /* Add top margin */
  margin-left: auto; /* Center horizontally */
  margin-right: auto; /* Center horizontally */
}