.groove-border {
    border: 1px solid #706565 !important; /* Adjust thickness and color as needed */
    border-radius: 10px !important; /* Adjust border radius as needed */
  }

  .icon {
    font-size: 4rem;
  }

  .button-border {
    border: 1px solid #0f0f0f !important; /* Adjust thickness and color as needed */
    border-radius: 10px !important; /* Adjust border radius as needed */
  }


 .text-large {
  font-size: 5rem;
 }
 
 .img-large {
  width: 80%;
  max-height: 500px;
 }