*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    } 
    body{
        margin: 0;
        padding: 0;
        background-color: #fffef7!important;
    }

    a{
        text-decoration: none;
    }